html {
  color: #292929;
  width: 100%;
  height: 100%;
}

body {
  background-color: #EFEFEF;
  width: 100vw;
  height: 100%;
}

h2 {
  display: inline;
  font-family: 'Nanum Gothic Coding', monospace;
  font-style: normal;
  font-weight: 600;
  font-size: 1.35rem;
  color: #292929;
}

h2:before {
  content: "";
  display: block;
  width: 30px;
  border-top: 2.5px solid #464646;
  padding-top: 4.5px;
  margin: 3px 1.6px;
}

h3 {
  display: inline;
  font-family: 'Nanum Gothic Coding', monospace;
  line-height: 1.3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  color: #292929;
}

br{
  line-height: 1.5rem;
}

.ul {
  margin-top: -10px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

nav>ul>li {
  float: right;
  line-height: 60px;
  position: relative;
}

ul.drop-menu {
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
  width: 100%;
  padding: 0;
}

ul.drop-menu li {
  line-height: 55px;
  display: none;
  opacity: 0;
}

li:hover>ul.drop-menu li {
  animation: load 1s forwards;
  display: block;
}

@keyframes load {
  0% {
    transform: translateX(60px) scale(1.1);
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

li {
  width: 47vw;
}

.indent {
  text-indent: 2rem;
}

.header {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 99.5vw;
  height: 94px;
  padding-top: 20px;
  display: block;
  transition: all 200ms ease-out;
}

.left-box {
  float: left;
  transition: all 400ms ease-out;
}

.right-box {
  float: right;
  transition: all 400ms ease-out;
}

#logo1_text {
  text-align: left;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 3rem;
  color: #292929;
  display: inline;
  text-decoration: none;
}

#logo2_text {
  text-align: right;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 3rem;
  color: #292929;
  display: inline;
  text-decoration: none;
}

#A1Body_text {
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  color: #292929;
}

#nanumcodBody_text {
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.235rem;
  color: #292929;
}

#A1Body_archive {
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  color: #292929;
}

#nanumcodBody_archive {
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.035rem;
  color: #292929;
}

.main {
  position: relative;
  margin-top: 280px;
  transition: all 400ms ease-out;
}

.main_index {
  position: relative;
  margin-top: 400px;
  transition: all 400ms ease-out;
}

.padding {
  padding: 0 7vw;
}

.padding_logo {
  padding: 0 6.6vw;
}

.container {
  width: 70%;
  height: 70%;
  margin: 50px auto;
  text-align: center;
}

.outer {
  display: table;
  width: 100%;
  height: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.logo_link {
  text-decoration: none;
}

.logo_link:link {
  color: #292929;
}

.logo_link:visited {
  color: #292929;
}

.logo_link:hover{
  text-decoration: none;
  color: #2a4dc1;
}

.contact_link {
  text-decoration: none;
}

.contact_link:link {
  text-decoration: none;
  color: #2a4dc1;
}

.contact_link:visited {
  text-decoration: none;
  color: #1b4ae5;
}


.span_title {
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.385rem;
  vertical-align: 0;
  color: #292929;
}

.span_body {
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.285rem;
  vertical-align: 0;
  color: #292929;
}

.about_333_kr {
  width: 63vw;
  line-height: 1.87rem;
  letter-spacing: 0rem;
  word-spacing: 0.15rem;
  margin-top: 35px;
  margin-left: 0.07rem;
}

.about_333_eng {
  width: 63vw;
  line-height: 1.85rem;
  letter-spacing: 0rem;
  word-spacing: 0rem;
  margin-top: 35px;
  margin-left: 0.07rem;
  margin-bottom: 150px;
}

.archive_kr {
  width: 51.4vw;
  line-height: 1.8rem;
  letter-spacing: 0.01rem;
  word-spacing: 0rem;
  margin-top: 35px;
  margin-left: 0.07rem;
}

.author_kr {
  font-family: 'Gothic A1', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  color: #292929;
  margin-top: 25px;
  margin-bottom: 80px;
}

.author_eng {
  font-family: 'Nanum Gothic Coding', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  color: #292929;
  margin-top: 25px;
  vertical-align: 0;
}

.bold {
  font-weight: 600;
  color: #292929;
}

.circle1 {
  stroke: #292929;
  stroke-width: 12;
  cx: 150;
  cy: -30;
  rx: 125%;
  ry: 75%;
  r: 50;
  fill: rgba(255, 255, 255, 0);
  transition: cx 400ms ease-out;
}

.circle1:hover {
  position: absolute;
  cx: 50;
  cy: -30;
  rx: 125%;
  ry: 75%;
  r: 50;
  fill: rgba(255, 255, 255, 0);
  stroke: #2a4dc1;
  stroke-width: 15;
}

.circle2 {
  stroke: #292929;
  stroke-width: 12;
  cx: 150;
  cy: 120;
  rx: 125%;
  ry: 75%;
  r: 50;
  fill: rgba(255, 255, 255, 0);
  transition: cx 400ms ease-out;
}

.circle2:hover {
  position: absolute;
  cx: 250;
  cy: 120;
  rx: 125%;
  ry: 75%;
  r: 50;
  fill: rgba(255, 255, 255, 0);
  stroke: #2a4dc1;
  stroke-width: 15;
}

.circle3 {
  stroke: #292929;
  stroke-width: 12;
  cx: 150;
  cy: 270;
  rx: 125%;
  ry: 75%;
  r: 50;
  fill: rgba(255, 255, 255, 0);
  transition: cx 400ms ease-out;
}

.circle3:hover {
  position: absolute;
  cx: 50;
  cy: 270;
  rx: 125%;
  ry: 75%;
  r: 50;
  fill: rgba(255, 255, 255, 0);
  stroke: #2a4dc1;
  stroke-width: 15;
}

svg {
  overflow: visible;
}

@media(max-width:865px) {
  .main {
    position: relative;
    margin-top: 280px;
    transition: all 400ms ease-out;
  }

  .right-box {
    float: none;
    margin: auto;
    text-align: left;
    transition: all 400ms ease-out;
  }

  .left-box {
    float: none;
    margin: auto;
    text-align: left;
    transition: all 400ms ease-out;
  }

  nav {
    text-align: center;
  }

  nav>ul {
    list-style-type: none;
    display: block;
  }

  nav>ul>li {
    float: inherit;
    line-height: 60px;
    position: relative;
  }

  ul.drop-menu {
    text-align: center;
    position: absolute;
  }

  ul.drop-menu li {
    line-height: 40px;
    display: none;
    opacity: 0;
    font-size: 2rem;
  }

  li:hover>ul.drop-menu li {
    animation: load 1s forwards;
    display: inline-flex;
  }

  @keyframes load {
    0% {
      transform: scale(1.1);
    }

    100% {
      transform: cale(1);
      opacity: 1;
    }
  }

  .circle1 {
    stroke: #292929;
    stroke-width: 9;
    cx: 150;
    cy: -30;
    rx: 75%;
    ry: 45%;
    r: 50;
    fill: rgba(255, 255, 255, 0);
    transition: cx 400ms ease-out;
  }

  .circle1:hover {
    position: absolute;
    cx: 50;
    cy: -30;
    rx: 75%;
    ry: 45%;
    r: 50;
    fill: rgba(255, 255, 255, 0);
    stroke: #2a4dc1;
    stroke-width: 9;
  }

  .circle2 {
    stroke: #292929;
    stroke-width: 9;
    cx: 150;
    cy: 60;
    rx: 75%;
    ry: 45%;
    r: 50;
    fill: rgba(255, 255, 255, 0);
    transition: cx 400ms ease-out;
  }

  .circle2:hover {
    position: absolute;
    cx: 250;
    cy: 60;
    rx: 75%;
    ry: 45%;
    r: 50;
    fill: rgba(255, 255, 255, 0);
    stroke: #2a4dc1;
    stroke-width: 9;
  }

  .circle3 {
    stroke: #292929;
    stroke-width: 9;
    cx: 150;
    cy: 150;
    rx: 75%;
    ry: 45%;
    r: 50;
    fill: rgba(255, 255, 255, 0);
    transition: cx 400ms ease-out;
  }

  .circle3:hover {
    position: absolute;
    cx: 50;
    cy: 150;
    rx: 75%;
    ry: 45%;
    r: 50;
    fill: rgba(255, 255, 255, 0);
    stroke: #2a4dc1;
    stroke-width: 9;
  }
}
